.movie-list {
    padding: 0;
    margin: 0 0 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    color: var(--light-acent-color);
    font-weight: bold;
    font-size: 2rem;
}

.movie-title {
    padding: 0.7rem 0; 
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.movie-title.selected {   
    background-color: var(--selected-item-color);
}

.movie-title:hover {
    background-color: var(--hover-item-color);
}

@media (prefers-color-scheme: light) {
    .movie-list {
        color: var(--dark-acent-color);
    }
}

@media (max-width: 650px) {
    .movie-list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
} 